*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main{
   height: calc(100vh - 80px);
   overflow: auto;
   width: 100%;
   overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.nav-upgrade{
    background-color: rgba(0, 0, 0, 0.9);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    position: fixed;
    width: 85%;
}

.upgrade{
    margin-right: 40px;
    height: 40px;
    width: 250px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    color: white;
}

.flex{
    display: flex;
}

.nav{
    background-color: black;
    width: 300px;
    padding: 20px;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    padding-bottom: 20px;
    width: 200px;
}

.logosmall{
    width: 30px;
    margin-left: 5px;
    display: none;
}

ul{
    padding-top: 20px;
}

li{
    list-style: none;
}

li img{
    width: 30px;
    vertical-align: middle;
    margin: 5px;
}

a{
    text-decoration: none;
    color: grey;
    padding: 5px;
}

.playlist{
    color: grey;
}

.playlist h3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.plus{
    background-color: lightgray;
    color: grey;
    padding: 10px;
}

.min-height{
    height: 180px;
    overflow: auto;
}

.name-playlist{
    padding-top: 20px;
}

.name-playlist li{
    padding-bottom: 20px;
}

.profile img{
    background-color: grey;
}

.arrow{
    border: 1px solid lightslategray;
    color: grey;
    padding: 3px;
    border-radius: 50%;
    font-size: 10px;
}

hr{
    padding: 5px;
    border-left: black;
    border-top: black;
    border-right: black;
}

.profile{
    padding-top: 20px;
}

.profile img{
    width: 20px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.profile span{
    color: white;
    vertical-align: middle;
    padding: 5px;
}

.a-block{
    display: inline;
    padding-top: 40px;
}

.nav-bar{
    width: 100%;
    background-color: #1a192b;
    color: lightslategray;
    padding-top: 80px;
}

.bar {
    padding: 10px;
    text-align: center;
}

.a-none{
    display: none;
}

.recently-played{
    padding: 20px;
}

.recently-played h2{
    color: white;
    margin: 10px;
}

.recently-played img{
    width: 185px;
    padding-top: 20px;
}

.album{
    display: flex;
    flex-wrap: wrap;
    
}

.minialbum{
    width: calc(100% / 6);
    text-align: center;
}

.minialbum h3{
    color: white;
}

.album2{
    display: flex;
    flex-wrap: wrap;
    
}

.minialbum2{
    text-align: center;
    margin: 10px;
}

.minialbum2 h3{
    color: white;
}

.title{
    padding-top: 50px;
}

.title span{
    color: lightgray;
}

.minialbum3{
    text-align: center;
    margin: 10px;
}

.minialbum3 img{
    border-radius: 50%;
}

footer{
    background-color: rgb(54, 52, 52);
    height: 80px;
}

.c-flex{
    display: flex;
    justify-content: space-between;
}

.b-flex{
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
}

.mini-album img{
    width: 50px;
}

.text span{
    padding-left: 15px;
    font-size: 12px;
    color: lightgray;
}

.link{
    padding-left: 40px;
    padding-top: 15px;
}

.play{
    margin-top: 20px;
    text-align: center;
}

.play a{
    
    color: white;
}

.padding1{
    padding-right: 20px;
}

.play-button{
    border: 2px solid white;
    border-radius: 50%;
    padding-bottom: 2px;
    padding-top: 2px;
}

.padding2{
    padding-left: 20px;
}

.number-second{
    color: white;
    font-size: 12px;
    padding-top: 10px;
}

.playbar{
    display: inline-block;
}

.playbar1{
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: white;
}

.playbar2{
    display: inline-block;
    width: 400px;
    height: 2px;
    background-color: lightslategray;
}

.final-play{
    padding-right: 10px;
    padding-top: 35px;
}

.final-play a{
    color: white;
}

.playbar3{
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: white;
    vertical-align: middle;
}

.playbar4{
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: lightslategray;
    vertical-align: middle;
}

/* Responsive */

@media all and (max-width: 1100px) {
    
    .block{
        display: block;
    }

    .nav-upgrade{
        padding-right: 65px;
    }

    .upgrade{
        margin-right: 20px;
    }

   .a-block{
        display: inline;
    }
    
    .minialbum{
        width: calc(100% / 4);
    }

    .minialbum2{
        margin: 5px;
    }

    .minialbum3{
        margin: 5px;
    }

    .text {
        padding-left: 5px;
    }
}

@media all and (max-width: 700px){
    
    .nav-upgrade{
        padding-right: 100px;
    }

    .a-block{
        display: block;
    }

    .block{
        display: inline-block;
    }

    .recently-played img{
        width: 200px;
    }

    .minialbum{
        width: calc(100% / 2 - 5px);
    }

    .minialbum2{
        width: calc(100% / 2 - 5px);
    }

    .minialbum3{
        width: calc(100% / 2 - 5px);
    }

    .playbar1{
        width: 65px;
    }

    .playbar2{
        width: 125px;
    }

    .playbar3{
        width: 15px;
    }

    .playbar4{
        width: 90px;
    }
}

@media all and (max-width: 600px){

    .nav-upgrade{
        width: 100%;
    }

    .upgrade{
        margin-right: -35px;
    }

    .none{
        display: none;
    }

    .a-none{
        display: inline;
    }

    .nav{
        width: 60px;
    }

    .padding{
        padding-right: 10px;
    }

    .b-none{
       display: none;
    }

    .logosmall{
        display: block;
    }

    .recently-played img{
        width: 230px;
    }

    .minialbum{
        width: calc(100% / 2);
    }

    .minialbum2{
        width: calc(100% / 2);
    }

    .minialbum3{
        width: calc(100% / 2);
    }

    .album2{
        flex-wrap: nowrap;
    }

    .text {
        padding-left: 5px;
    }

    .playbar1{
        width: 40px;
    }

    .playbar2{
        width: 100px;
    }

    .playbar3{
        width: 15px;
    }

    .playbar4{
        width: 40px;
    }
}

